.banner {
  padding: 50px 0;
  text-align: center;
  color: $base-white;
  background-color: $base-black;

  @media (min-width: $ssm-width) {
    padding: 60px 0;
  }

  @media (min-width: $sm-width) {
    padding: 70px 0;
  }

  @media (min-width: $md-width) {
    padding: 80px 0;
    text-align: left;
  }

  @media (min-width: $lg-width) {
    padding: 100px 0;
  }
}

.banner__wrapper {
  @media (min-width: $ssm-width) {
    padding: 0 63px;
  }

  @media (min-width: $sm-width) {
    padding: 0 86px;
  }

  @media (min-width: $md-width) {
    display: flex;
    gap: 30px;
    align-items: flex-start;
    padding: 0 26px;
  }

  @media (min-width: $lg-width) {
    gap: 127px;
    padding: 0 40px;
  }
}

.banner__text-content {
  @media (min-width: $md-width) {
    width: 50%;
    padding-top: 23px;
  }

  @media (min-width: $lg-width) {
    width: 555px;
    padding-top: 26px;
  }
}

.banner__title {
  margin-bottom: 14px;

  @media (min-width: $md-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $lg-width) {
    margin-bottom: 22px;
  }
}

.banner__description {
  margin: 0;
  margin-bottom: 30px;

  @media (min-width: $lg-width) {
    margin-bottom: 40px;
  }
}

.banner__buttons {
  margin-bottom: 30px;

  @media (min-width: $ssm-width) {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    justify-content: center;
    margin-bottom: 40px;
  }

  @media (min-width: $md-width) {
    justify-content: flex-start;
    margin-bottom: 0;
  }
}

.banner__button {
  width: 100%;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $ssm-width) {
    width: auto;
    margin: 0;
  }

  @media (min-width: $md-width) {
    width: 150px;
  }

  @media (min-width: $lg-width) {
    width: 160px;
  }
}

.banner__image {
  img {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 290 / 146;
  }

  @media (min-width: $ssm-width) {
    img {
      aspect-ratio: 450 / 275;
    }
  }

  @media (min-width: $sm-width) {
    img {
      aspect-ratio: 596 / 364;
    }
  }

  @media (min-width: $md-width) {
    width: 50%;

    img {
      aspect-ratio: 455 / 332;
    }
  }

  @media (min-width: $lg-width) {
    width: 458px;

    img {
      width: 458px;
      height: 380px;
    }
  }
}
