.banner {
  padding: 50px 0;
  text-align: center;
  color: $base-white;
  background-color: $base-black;

  @media (min-width: $ssm-width) {
    padding: 60px 0;
  }

  @media (min-width: $sm-width) {
    padding: 70px 0;
  }
}

.banner__wrapper {
  @media (min-width: $ssm-width) {
    padding: 0 63px;
  }

  @media (min-width: $sm-width) {
    padding: 0 86px;
  }
}

.banner__title {
  margin-bottom: 14px;
}

.banner__description {
  margin-bottom: 30px;
}

.banner__buttons {
  margin-bottom: 30px;

  @media (min-width: $ssm-width) {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    justify-content: center;
  }
}

.banner__button {
  width: 100%;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $ssm-width) {
    width: auto;
    margin: 0;
  }
}

.banner__image {
  img {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 290 / 146;

    @media (min-width: $ssm-width) {
      aspect-ratio: 450 / 275;
    }

    @media (min-width: $sm-width) {
      aspect-ratio: 596 / 364;
    }
  }
}
