.slider__navigation {
  display: flex;
  gap: 7px;
  margin-top: 20px;
  justify-content: center;

  @media (min-width: $ssm-width) {
    justify-content: flex-start;
    margin-left: -6px;
  }

  @media (min-width: $sm-width) {
    margin-top: 30px;
    gap: 12px;
  }

  @media (min-width: $md-width) {
    margin-top: 40px;
  }
}

.slider .slider__slide {
  height: auto;
}

.slider__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &::before {
    content: "";
    display: block;
    width: 11px;
    height: 22px;
    background-color: $color-primary;
    mask-image: url("../../__spritemap#sprite-arrow-icon-view");
    mask-repeat: no-repeat;
    mask-size: 11px 22px;
    mask-position: center;
  }

  @media (min-width: $sm-width) {
    width: 26px;
    height: 26px;

    &::before {
      width: 13px;
      height: 26px;
      mask-size: 13px 26px;
    }
  }

  &:hover,
  &:focus-visible {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &:disabled,
  &--disabled {
    opacity: 0.3;
    pointer-events: none;
  }

  &--prev::before {
    transform: rotate(180deg);
  }
}
