// FONTS
$font: "Noto Sans", "Arial", sans-serif;

// COLORS
$base-black: #010101;
$text-base: $base-black;
$base-white: #ffffff;
$color-transparent: rgba(1, 1, 1, 0.6);
$color-hawkes-blue: #d3d8e4;
$color-primary: #00b6dd;
$color-accent: #081580;
$color-tickle-me-pink: #ff779a;

// BREAKPOINTS
$ssm-width: 576px;
$sm-width: 768px;
$md-width: 992px;
$lg-width: 1200px;
$xs-width-only: 575px;
